.block__row {
	display: flex;
	border: 20px solid #ece89d;
	margin: 0px 0px 20px 0px;
	flex-direction: column;
	height: 700px;
}

.block__column {
	border: 20px solid #5e5373;
}

.block__column_1 {
}

.block__column_2 {
	flex: 1 1 auto;
}

.block__column_3 {
}

.block__item {
	background-color: #18b5a4;
	padding: 30px 50px;
	color: #fff;
	font-weight: bold;
	font-size: 50px;
}